discord.py
openai
motor
pymongo[srv]
dnspython>=2.0.0
pypdf
beautifulsoup4
requests
aiohttp
runware>=0.4.33
python-dotenv
matplotlib
pandas
openpyxl
seaborn
tzlocal
numpy
plotly
tiktoken